<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>

<body>

	<header id="header2" th:replace="fragments/fragment2 :: header2">
	</header>

	<section id="heroV2">

		<div class="hero-container">
			<div class="row justify-content-md-center">

				<div th:replace="fragments/fragment2 :: left-info"></div>


				<div class="col-md-8">
					<div id="error_msg" th:if="${error != null}" >
						<label th:text="${error}" style="color:D8000C;"></label>
					</div>
					
					<div id="sukses_msg" th:if="${sukses != null}" >
						<label th:text="${sukses}" style="color:#4F8A10;"></label>
					</div>
					
					<h4>Detail Surat</h4>
					<input type="hidden" th:value="${surat.id}" id="pengajuan_surat_id" />
					<input type="hidden" th:value="${surat.id_status_surat}" id="id_status_surat"/>
					<table class="table" id="table_custom">
						<tbody>
							<tr>
								<th>Nama Mahasiswa</th>
								<td th:text="${nama}"></td>
								<th width="15%">NPM Mahasiswa</th>
								<td th:text="${surat.username_pengaju}"></td>
							</tr>
							<tr>
								<th>No Surat</th>
								<td th:text="${surat.no_surat}"></td>
								<th>Jenis Surat</th>
								<td id="jenis_surat" th:value="${surat.id_jenis_surat}" th:text="${jenis_surat}"></td>
							</tr>
							<tr>
								<th>Tanggal Permohonan</th>
								<td th:text="${surat.tgl_mohon}"></td>
								<th>Nama Admin</th>
								<td th:text="${nama_admin}"></td>
							</tr>
							<tr>
								<th>Status Pengajuan Surat</th>
								<td id="status"><label th:text="${status_surat}"></label> <i
									class="fa fa-edit" id="btn-edit"></i></td>
								<th>Keterangan</th>
								<td th:text="${surat.keterangan}"></td>
							</tr>
							<tr>
								<th>Alasan Izin</th>
								<td th:text="${surat.alasan_izin}"></td>
								<th>Tanggal Izin</th>
								<td th:text="${surat.tgl_mulai_izin}"></td>
							</tr>
							<tr>
								<th>Matakuliah terkait</th>
								<td colspan="3" th:text="${nama_matkul}"></td>

							</tr>

						</tbody>
					</table>

					<div id="upload" style="display:none; border: 1px solid black; border-style: dotted; padding: 15px; border-radius: 14px;font-size: 14px;">
						<label style="font-weight: bolder;">Unggah surat yang telah selesai</label>
						<form method="POST" enctype="multipart/form-data" action="/pengajuan/upload">
							<table>
								<tr>
									<td>File to upload:</td>
									<td><input type="file" name="file" /></td>
								</tr>
								<tr>
									<td></td>
									<td><input id="btn-upload" type="submit" value="Upload" /></td>
								</tr>
							</table>
						</form>
					</div>

				</div>
			</div>
		</div>


	</section>

	<footer id="footer" th:replace="fragments/fragment :: footer">
	</footer>
</body>
<script th:inline="javascript">

	$(document)
			.ready(
					function() {
						if($.inArray($("#jenis_surat").attr("value"), ['3','4','5']) >= 0)
						{
							if($("#id_status_surat").val() == '4'){
								$("#upload").show();
							}
							
						} else {
							$("#upload").css("display","none");
						}

						
						$(".fa-edit")
								.click(
										function() {
											$(".fa-edit").remove();
											var html = '<select class="form-control" id="status_surat">'
													+ '<option value="">--Pilih Status--</option>'
													+ ' <option value="1">Baru Diajukan</option>'
													+ ' <option value="2">Ditolak</option>'
													+ ' <option value="3">Diproses</option>'
													+ ' <option value="4">Selesai</option>'
													+ ' </select>';
											$("#status").append(html);
											$("#status_surat").css("font-size","13px");
										});

						$(document)
								.on(
										"change",
										"#status_surat",
										function(val) {
											console.log(this.value);
											if (confirm("Apakah Anda yakin ingin mengubah status surat?")) {
												var id_pengajuan_surat = $("#pengajuan_surat_id").val();
												
												window.location
														.replace("/pengajuan/ubah/"
																+ id_pengajuan_surat
																+ "/"
																+ this.value);
											}

										})
					});
</script>
</html>
