<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragment :: head">
    </head>

    <body>

    	<header id="header2" th:replace="fragments/fragment2 :: header2">
    	</header>

    <section id="heroV2">
        <div class="hero-container">
          <div class="row justify-content-md-center">
          <div th:replace="fragments/fragment2 :: left-info"></div>
          <div class="col-md-8">
    		<h4>Detail Surat</h4>
          <div class="container">
                           
                <table class="table" id="table_custom">
						<tbody>
							<tr>
								<th>Nama Mahasiswa</th>
								<td th:text="${nama}"></td>
								<th width="15%">NPM Mahasiswa</th>
								<td th:text="${letter1.username_pengaju}"></td>
							</tr>
							<tr>
								<th>No Surat</th>
								<td th:text="${letter1.no_surat}"></td>
								<th>Jenis Surat</th>
								<td th:text="${jenis_surat}"></td>
							</tr>
							<tr>
								<th>Tanggal Permohonan</th>
								<td th:text="${letter1.tgl_mohon}"></td>
								<th>Nama Admin</th>
								<td th:text="${nama_admin}"></td>
							</tr>
							<tr>
								<th>Status Pengajuan Surat</th>
								<td th:text="${status_surat}"></td>
								<th>Keterangan</th>
								<td th:text="${letter1.keterangan}"></td>
							</tr>
							<tr>
								<th>Alasan Izin</th>
								<td th:text="${letter1.alasan_izin}"></td>
								<th>Tanggal Izin</th>
								<td th:text="${letter1.tgl_mulai_izin}"></td>
							</tr>
							<tr>
								<th>Matakuliah terkait</th>
								<td colspan="3" th:text="${nama_matkul}"></td>

							</tr>

						</tbody>
					</table>
					
					
          	</div>
          	</div>
          </div>
        </div>
      </section>

    	<footer id="footer" th:replace="fragments/fragment :: footer">
    	</footer>
    </body>
    <script th:inline="javascript">
    $(document).ready(function() {
    	$('#student-table').DataTable();
    } );
    </script>
    </html>